main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rosybrown;
    box-sizing: border-box;
    padding:0px;
    padding-bottom:20%;
}


ul{
    display:flex;
    flex-wrap: wrap;
}


.wordContainer{

    min-width:280px;
    
    background-color:antiquewhite;
    text-align:left;
    border:1px solid black;
}

li{
    list-style: none;
   
}

.overlined{
    background-color: rgb(139, 23, 23);
    color: rgb(139, 23, 23);
    border:3px solid burlywood;
    border-radius:0px 10px 10px 0px;
}

.originalWord{
    display:inline-block;
    width:30%;
    cursor:pointer;
    padding:5%;
}

.current{
    background-color: red;
}

button{
    cursor:p
}

.gameRulesContainer{
    
 
    width:80%;
    margin:0 auto;
    padding:20px;
   
}

.gameRulesContainer form{
    padding-top:20px;
    
    display:flex;
    justify-content: center;
   
}

.gameRulesContainer table{
    text-align: left;
    width:50%;
  
    border-spacing:30px;
    border:2px solid brown;
    border-radius:15px;

    background-color: bisque;
    
}

.gameRulesContainer td:first-child{
    text-align:right;
 
   
}

