.Component{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(245, 217, 196);
    box-sizing: border-box;
    padding:0px;
    padding-bottom:20%;
    text-align: center;
}




ul{
    display:flex;
    flex-wrap: wrap;
}

.wordsToShow{
    width:100px;
    height: 30px;
    margin-top:2%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius:10px;
    border:solid 3px brown;
    
}
.wordsToShow:hover{
   background-color: bisque;
   color:black;
   transition:background-color 0.2s ease, color 0.2s ease;
   cursor:pointer
    
}

.wordsToShowLabel{
    font-size: 20px;
    color:brown
}

.buttonsContainer{
    margin-top:20px;
}

.buttonsContainer button{
    background-color: bisque;
    border:1px solid burlywood;
    margin-bottom:20px;
}
.buttonsContainer button:hover{
    background-color: rgb(129, 74, 5);
    border:1px solid burlywood;
}

.startPlaying{
    background-color: rgb(138, 8, 8);
    color:white;
    border-radius:10px;
    border:solid 2px bisque;
    width:150px;
    height: 40px;
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:relative;
    left:28%;
}

.startPlaying:hover{
    background-color:white;
    color:red;
    transition:0.15s ease background-color, color 0.15s ease;
}


.wordContainer{

    min-width:280px;
    max-width:280px;
    text-align: left;
    
    background-color:rgb(232, 214, 191);
    border:1px solid black;
}



.gameBoard .wordContainer{
    width:180px;
    margin:0 auto;
    text-align: left;
    
    background-color:rgb(232, 214, 191);
    border:1px solid black;
   
}


.gameBoard p{
font-size:25px;
}

.gameBoard{
    text-align: center;
    padding-top:10px;
     position:absolute;
    top:20%;
    left:35%;
}

.gameBoard button{
    margin-top:20px;
    width:300px;
    background-color: rgb(234, 147, 41);
    height:50px;
    border-radius:10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(97, 6, 6)
}
.gameBoard button:hover{
    
    background-color: rgb(94, 54, 4);
    
    color:white;
    transition:background-color 0.2s ease, color 0.2s ease;
}

.wordContainer button{
    max-width: 30px;
    max-height: 30px;

    position:relative;
    top:0px;
    right:30px;
    
}

.wordContainer p{
    min-width: 90%;

}

.wordContainer{
    padding-bottom:0px;
}

.translationWord{
    background-color: rgb(234, 193, 146);
    font-size: 17px;
    color:rgb(120, 25, 10);
    text-align: center;
    line-break: anywhere;
    overflow: hidden;
    min-width:111%;
    max-width:111%;
    margin-bottom:-17px;
    height: 50px;
    border-top:dotted 1px brown;
    justify-content: center;
    padding-top:10px;

}

.gameBoard .trans-word-container{
    max-width:252px;
}


.gameBoard .translationWord{

    background-color: rgb(234, 193, 146);
    font-size: 17px;
    color:rgb(120, 25, 10);
    text-align: center;
    line-break:anywhere;
    overflow: hidden;
    width:100%;
    height: 55px;
    border-top:dotted 1px brown;
    justify-content: center;
    padding-top:10px;
    margin-bottom:-25px;

}



li{
    list-style: none;
    display: flex;
    gap:10%;

   
}

.overlined{
    background-color: rgb(139, 23, 23);
    color: rgb(139, 23, 23);
    border:3px solid burlywood;
    border-radius:0px 10px 10px 0px;
}





.gameBoard .originalWord{
   border: 3px solid rgb(83, 49, 4);
   border-radius:0px 10px 10px 0px;
}

.gameBoard .overlined{
    background-color: rgb(196, 68, 13);
    color: rgb(196, 68, 13);
    border:3px solid rgb(83, 49, 4);
}
.gameBoard .overlined:hover{
    background-color: rgb(191, 7, 16);
    color: rgb(191, 7, 16);
    transition:background-color 0.2s ease, color 0.2s ease;
    
}


.gameBoard .originalWord{
     display:inline-block;
    line-break:anywhere;
    overflow: hidden;
    width:80%;
    height: 50px;
    cursor:pointer;
    padding:5%;
     border: 3px solid rgb(83, 49, 4);
   border-radius:0px 10px 10px 0px;
}


.originalWord{
    display:inline-block;
    line-break:anywhere;
    overflow: hidden;
    width:80%;
    height: 50px;
    cursor:pointer;
    padding:5%;
     border: 3px solid rgb(83, 49, 4);
   border-radius:0px 10px 10px 0px;
}

.buttonsContainer .current{
    background-color: rgb(43, 32, 2);
    color:white;
    font-weight:bold;
}

button{
    cursor:pointer
}

.gameRulesContainer{
    
    width:80%;
   margin:0 auto;
    padding:20px;
    position:absolute;
    top:20%;
    left:10%
   
}

.gameRulesContainer form{
    padding-top:20px;
    
    display:flex;
    justify-content: center;
   
}

.gameRulesContainer table{
    text-align: left;
    width:50%;
  
    border-spacing:30px;
    border:2px solid brown;
    border-radius:15px;

    background-color: bisque;
    
}

.gameRulesContainer td:first-child{
    text-align:right;
 
   
}

img{
    max-width: 15px;
    
}


@media(max-width:720px){

    .gameBoard{
        left:20%;
    }

    .gameRulesContainer{
        position:absolute;

        width:80%;
       

        left:5%;
      

    }
    .gameRulesContainer form{
        margin:0 auto;
        width:60%;
      

    }

    .gameRulesContainer  form table{
      
       border-spacing: 15px;
        width: 0%;
    }

  

    .gameRulesContainer tr{
        width:100%;
    }

    .gameRulesContainer table td:first-child{
        width:30%;
    }

    .gameRulesContainer input{
        width: 100%;
    }

    .gameRulesContainer select{
        width:50%;
    }

}
